/data/*
*/node_modules/*
*/vendor/*
/vendor/*
/vendor
*/templates_c/*
/templates_c/*
/data/*/*
/data/*
*/*/templates_c/*
*.log
composer.lock
/templates_c/*
/assets/node_modules/*
/templates_c
/assets/node_modules
/assets/compiled/*
/assets/compiled/maps/*
**/templates_c
assets/package-lock.json
/.idea/**
**/package-lock.json